<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Exemple : adaptez connectionString à votre serveur / base -->
    <add name="SgreeDbContext1"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SgreeDb;Integrated Security=True;MultipleActiveResultSets=True" />
  </connectionStrings>
</configuration>